@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@ViewBag.Title</h1>

<ul>
    @foreach (var p in ViewBag.Products)
    {
        <li>@p</li>
    }
</ul>
