
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <!-- Cột Giới thiệu -->
            <div class="col-md-6 mb-3">
                <h5 class="fw-bold text-uppercase">Giới thiệu</h5>
                <p class="small">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ab suscipit deserunt
                    mollitia reiciendis, nobis iure aliquam velit et laboriosam ducimus veritatis corporis est,
                    dolores aperiam! Officiis impedit provident laboriosam.
                </p>
            </div>

            <!-- Cột Liên hệ -->
            <div class="col-md-6 mb-3">
                <h5 class="fw-bold text-uppercase">Liên hệ</h5>
                <p class="small">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit amet suscipit quasi
                    quisquam impedit magni molestias. Dolores, aliquid commodi ut esse eos voluptatem
                    nisi facilis dolorem, repudiandae culpa ea quidem.
                </p>
            </div>
        </div>
    </div>
</footer>